.PAGE-CYBERBULLYING {
  background-color: #f1eef5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.PAGE-CYBERBULLYING .div {
  background-color: #f1eef5;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.PAGE-CYBERBULLYING .overlap {
  height: 969px;
  left: -720px;
  position: absolute;
  top: -507px;
  width: 1637px;
}

.PAGE-CYBERBULLYING .overlap-group {
  height: 969px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1637px;
}

.PAGE-CYBERBULLYING .cleanfeed-LOGO {
  height: 166px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 243px;
}

.PAGE-CYBERBULLYING .overlap-group-2 {
  height: 809px;
  left: 88px;
  position: absolute;
  top: 160px;
  width: 1549px;
}

.PAGE-CYBERBULLYING .rectangle {
  height: 803px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 867px;
}

.PAGE-CYBERBULLYING .rectangle-2 {
  background-color: #b9daff94;
  border: 1px solid;
  border-color: #000000;
  border-radius: 100px;
  box-shadow: 0px 4px 4px #00000040;
  height: 104px;
  left: 747px;
  position: absolute;
  top: 703px;
  width: 802px;
}

.PAGE-CYBERBULLYING .text-wrapper {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 25px;
  font-weight: 500;
  left: 786px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 735px;
}

.PAGE-CYBERBULLYING .tiktok {
  height: 86px;
  left: 722px;
  object-fit: cover;
  position: absolute;
  top: 200px;
  width: 83px;
}

.PAGE-CYBERBULLYING .images {
  height: 86px;
  left: 722px;
  object-fit: cover;
  position: absolute;
  top: 326px;
  width: 83px;
}

.PAGE-CYBERBULLYING .snapchat {
  height: 86px;
  left: 722px;
  object-fit: cover;
  position: absolute;
  top: 460px;
  width: 83px;
}

.PAGE-CYBERBULLYING .img {
  height: 809px;
  left: 895px;
  position: absolute;
  top: 0;
  width: 421px;
}

.PAGE-CYBERBULLYING .rectangle-3 {
  background-color: #ffffff94;
  border: 1px solid;
  border-color: #000000;
  border-radius: 100px;
  box-shadow: 0px 4px 4px #00000040;
  height: 104px;
  left: 747px;
  position: absolute;
  top: 568px;
  width: 802px;
}

.PAGE-CYBERBULLYING .clean {
  height: 102px;
  left: 979px;
  object-fit: cover;
  position: absolute;
  top: 683px;
  width: 104px;
}

.PAGE-CYBERBULLYING .clean-2 {
  height: 97px;
  left: 1140px;
  object-fit: cover;
  position: absolute;
  top: 688px;
  width: 100px;
}

.PAGE-CYBERBULLYING .modele-conception {
  height: 467px;
  left: 933px;
  object-fit: cover;
  position: absolute;
  top: 191px;
  width: 355px;
}

.PAGE-CYBERBULLYING .text-wrapper-2 {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 25px;
  font-weight: 500;
  left: 786px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 603px;
}

.PAGE-CYBERBULLYING .element {
  height: 86px;
  left: 722px;
  object-fit: cover;
  position: absolute;
  top: 64px;
  width: 83px;
}

.PAGE-CYBERBULLYING .capture-d-ecran {
  height: 74px;
  left: 1155px;
  position: absolute;
  top: 8px;
  width: 123px;
}

.PAGE-CYBERBULLYING .rectangle-4 {
  height: 219px;
  left: -4594px;
  position: absolute;
  top: -356px;
  width: 1209px;
}

.PAGE-CYBERBULLYING .div-wrapper {
  background-color: #b9daff94;
  border: 1px solid;
  border-color: #000000;
  border-radius: 100px;
  box-shadow: 0px 4px 4px #00000040;
  height: 104px;
  left: 121px;
  position: absolute;
  top: 486px;
  width: 802px;
}

.PAGE-CYBERBULLYING .text-wrapper-3 {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 25px;
  font-weight: 500;
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 31px;
}

.PAGE-CYBERBULLYING .overlap-2 {
  background-color: #b9daff94;
  border: 1px solid;
  border-color: #000000;
  border-radius: 100px;
  box-shadow: 0px 4px 4px #00000040;
  height: 104px;
  left: 121px;
  position: absolute;
  top: 616px;
  width: 802px;
}

.PAGE-CYBERBULLYING .contexte-racisme-sur {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 1021px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 275px;
}

.PAGE-CYBERBULLYING .text-wrapper-4 {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 25px;
  font-weight: 500;
  left: 1021px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 181px;
}

.PAGE-CYBERBULLYING .text-wrapper-5 {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 1292px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 36px;
  width: 112px;
}

.PAGE-CYBERBULLYING .nous-contacter {
  color: #000000;
  font-family: "Poppins-Light", Helvetica;
  font-size: 20px;
  font-weight: 300;
  left: 998px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 35px;
  width: 185px;
}

.PAGE-CYBERBULLYING .text-wrapper-6 {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 25px;
  font-weight: 500;
  left: 1020px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 228px;
}
